
<%= form_tag("/assignments/#{@assignment.id}/update_grading", method: "post") do %>
  <p>
    <b>Top scoring essay:</b>
    <%= @top.essay_text %>
  </p>

  <p>
    <b>Top score</b>
    <%= not_marked(@top.score) %>
  </p> 
  
  <div class="field">
    <b>Top grade</b>:<br />
    <input type="text" name="top_grade" value="80"/>
  </div>  

  <hr/>

  <p>
    <b>Bottom scoring essay:</b>
    <%= @bottom.essay_text %>
  </p>

  <p>
    <b>Bottom score</b>
    <%= not_marked(@bottom.score) %>
  </p> 
  
  <div class="field">
    <b>Bottom grade</b>:<br />
    <input type="text" name="bottom_grade" value="40"/>
  </div>  

  <hr/>
  <br/>

  <div class="actions">
    <input type="submit" class="btn" name="bsubmit" value="Update grade"/>
  </div>
<% end %>



<table class="data_table">
  <tr>
    <th>Student Name</th>
    <th>Essay Text</th>
    <th>Score</th>
    <th>Grade</th>
    <th>Actions</th>
  </tr>

<% @sorted.each do |essay| %>
  <tr class="<%= cycle("oddrowcolor","evenrowcolor") %>">
    <td><%= essay.studentname %></td>
    <td><%= make_short(essay.essay_text) %></td>
    <td><%= not_marked(essay.score) %></td>
    <td><%= not_marked(essay.grade) %></td>
    <td>
        <%= link_to 'Show', assignment_essay_url(essay.assignment_id, essay.id) %>
        <%= link_to 'Edit', edit_assignment_essay_path(essay.assignment_id, essay.id) %>
        <%= link_to 'Destroy', assignment_essay_url(essay.assignment_id, essay.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    
  </tr>
<% end %>
</table>

